<html>
    <head>
        <title>Cadastro de notas</title>
    </head>

    <body>

        {% if message %}
        <p>Registro inserido com sucesso</p>
        {% endif %}

        <h1>Cadastre um aluno e as suas notas</h1>

        <form action="{% url 'grades:register' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="name">Nome do aluno</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="grade1">Primeira nota</label>
                <input type="text" name="grade1" id="grade1">
            </div>

            <div>
                <label for="grade2">Segunda nota</label>
                <input type="text" name="grade2" id="grade2">
            </div>

            <div>
                <label for="grade3">Terceira nota</label>
                <input type="text" name="grade3" id="grade3">
            </div>

            <input type="submit" value="Enviar">
        </form>
        <br>
        <a href="{% url 'grades:results' %}">Ver resultados</a>
    </body>
</html>