<h1>Resultados</h1>


{% for student in students_list %}
<div>
    <p>Aluno: <a href="">{{ student.name }}</a></p>
    {% for grade in student.grade_set.all %}
        <p>Nota {{ forloop.counter }}: {{ grade.value }}</p>
    {% endfor %}
    <p>Média final: {{ student.media }}</p>
    <strong>{% if student.media > 7 %}{{ student.name}} foi aprovado. {% else %}{{ student.name }} foi reprovado.{% endif %}</strong>
</div>
<hr>
{% endfor %}

<a href="{% url 'grades:index' %}">Voltar para a página inicial</a>